push constant 3030
push constant 10
push constant 30
push constant 1
push constant 5
push constant 56
push constant 89
push constant 169
push constant 255
push local 5
push local 56
push local 89
push local 69
push local 25
